.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
  }
  .imgdiv{
    position: relative;
    display: inline-block;
    width:150px;
    height: 150px;
    line-height: 150px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    cursor: pointer;
}

img{
    width:120px;
    height: 120px;
    padding: 10px;;
}

.hide{
    padding: 10px;
    visibility: hidden;
}

.match, .showimg{
    visibility: visible !important;
}
